@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "l2detona";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(17.4% 0 0);
  --color-base-200: oklch(0% 0 0);
  --color-base-300: oklch(17.6% 0.005 285.823);
  --color-base-content: oklch(87% 0.006 286.286);
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(64% 0.222 41.116);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(87% 0 0);
  --color-accent-content: oklch(21% 0.006 285.885);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(97% 0.013 17.38);
  --color-info-content: oklch(14% 0.004 49.25);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}